<div class="header">
  <h2 class="channel-name">Sorry, Buckaroo</h2>
 <small>That just isn't here.</small>
</div>

<div class="messages">
  <p>
    If you're looking for a channel that you're pretty sure exists, invite
    @indexbot to it to start collecting logs.
  </p>
</div>
